body {
  background-color: darkslateblue;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

.navbar a {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
  color: white;
  text-decoration: none;
  outline: auto;
  outline-color: white;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  display: flex;
  justify-content: center;
  height: 100px;
  background-color: white;
  width: 48%;
  margin: 1%;
}


.dropbutton {
  color: white;
  background: none;
  padding: 15px;
  outline: auto;
  outline-color: white;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

.y-flowers {
  background-color:gold;
}
a {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
button {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.logo {
  color: white;
  font-family: cursive;
}

h2 {
  display: flex;
  justify-content: center;
  color: white;
}