/*Ger hela sidan margin 0%*/
* {
  margin: 0%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100vw;
  height: 100vh;
}

.home-page {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100vw;
  height: 100vh;
  /*Gör att man inte kan scrolla på sidan*/
  overflow: hidden;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

.navbar a {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
  color: black;
  text-decoration: none;
  font-family: monospace;
  height: 20px;
}
/*När man hoverar över länken med musen blir länken ljusgrå*/
.navbar a:hover {
  color: lightgrey;
}

.container {
  display: flex;
  /*Gör så att containern täcker hela sidan*/
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.container h2 {
  display: flex;
  padding-left: 45%;
  padding-right: 40%;
  margin-top: 2%;
  font-family: monospace;
  /*Ändrar tjockleken på texten*/
  font-weight: 1;
}

.item {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  height: 500px;
  margin-bottom: 5%;
  margin-right: 20px;
  margin-left: 10px;
  justify-content: center;
  padding: 10px;
  align-items: center;
  width: 29%;
}

.item p {
  margin: 0%;
}

.dropbutton {
  color: black;
  background: none;
  padding: 15px;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  /*Håller dropdownen gömd*/
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content p {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/*Visar dropdown-content*/
.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

button {
  font-family: monospace;
}

h2 {
  display: flex;
  justify-content: center;
  color: black;
}

p {
  margin-top: 5%;
  font-size: 20px;
}

.p-prices {
  font-size: 15px;
  margin: 5px;
}

.item-1 {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 30px;
  height: 600px;
  background-color: transparent;
  width: 45%;
  margin-left: 4%;
  margin-right: 1%;
  margin-top: 15px;
  text-align: center;
}

.item-1 p {
  font-family: monospace;
  color: white;
}

.item-2 {
  display: flex;
  flex-direction: column-reverse;
  /*Gör så att delen av bilden som är utanför item-2 inte visas*/
  overflow: hidden;
  border-radius: 30px;
  height: 49%;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.item-2 p {
  display: flex;
  flex-direction: row;
  font-family: monospace;
  color: white;
  position: absolute;
  justify-self: center;
}

.item-2 a {
  outline: auto;
  text-decoration: none;
  padding: 7px;
  font-family: monospace;
  color: white;
  margin-bottom: 5px;
  position: absolute;
  font-size: 20px;
  border-radius: 25%;
}

.item-2 a:hover {
  background-color: lightgray;
}

.item-2 img {
  width: 100%;
  display: flex;
  justify-content: center;
}

.item-3 {
  display: flex;
  flex-direction: column-reverse;
  overflow: hidden;
  border-radius: 30px;
  height: 49%;
  justify-content: center;
  width: 100%;
  align-items: center;
  margin-top: 20px;
}

.item-3 p {
  display: flex;
  flex-direction: row;
  font-family: monospace;
  color: white;
  position: fixed;
  justify-self: center;
}

.item-3 a {
  outline: auto;
  text-decoration: none;
  padding: 7px;
  font-family: monospace;
  color: white;
  margin-bottom: 5px;
  position: fixed;
  font-size: 20px;
  border-radius: 25%;
}

.item-3 a:hover {
  background-color: lightgray;
}

.item-3 img {
  width: 100%;
  display: flex;
  justify-content: center;
}

/*Skapar två olika collumner*/
.item-group {
  display: flex;
  flex-direction: column;
  margin-left: 1%;
  margin-right: 4%;
  margin-top: 15px;
  border-radius: 30px;
  height: 600px;
  width: 45%;

}

/* Annan layout på produkt-sidorna*/
.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-img {
  overflow: hidden;
  height: 400px;
  margin-bottom: 15px;
}

.logo {
  height: 50px;
}

.slideshow {
  width: 100%;
  height: 100px;
}

.slideshow img {
  width: 100%;
  height: 800px;
}

.about-img1 {
  width: 500px;
  align-self: flex-start;
  margin-right: 10%;
  margin-top: 5%;
}

.about-img2 {
  align-self: flex end;
  height: 500px;
  margin-left: 10%;
}

.footer {
  margin-top: 1%;
  width: 100%;
  border-top: solid;
  color: black;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer p {
  display: flex;
  /*Den ska inte ha margin jämfört med de andra p som har margin 5% */
  margin: 0%;
  font-size: 15px;
  margin-top: 10px;
  flex-direction: column;
}

.about-content {
  display: flex;
  flex-direction: column;
}

.contact-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
}

.contact-text p {
  margin: 0%;
  display: flex;
  color: gray;
  margin-left: 5%;
  font-family: monospace;
  font-size: 16px;
  margin-bottom: 19px;
  flex-direction: column;
}

.contact-text {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 0%;
  margin-top: 1%;
  color: gray;
  font-family: monospace;
}

.about-text1 {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 0%;
  margin-top: 5%;
  color: gray;
  font-family: monospace;
  margin-left: 10%;
}

.about-text2 {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 0%;
  margin-top: 1%;
  color: gray;
  font-family: monospace;
  margin-right: 10%;
}


.contact-text h3 {
  font-size: 20px;
  margin-left: 5%;
}

.contact-title {
  padding-right: 45%;
  padding-left: 43%;
  width: 10%;
  margin: 0%;
}

.img-contact-title {
  width: 40%;
  margin-left: 10%;
}

.contact-subheading {
  font-weight: 600;
  font-size: 20px;
}

.contact-img {
  width: 700px;
  align-self: flex-start;
  margin-right: 3%;
}

.documentation-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: nowrap;
  font-family: monospace;
}

.documentation-content h4 {
  margin-top: 2%;
  margin-left: 1%;
}

.img-about-title {
  width: 80%;
  align-self: center;
}

.employee-info {
  background-color: lightpink;
  border-radius: 10px;
  padding: 5px;
}