* {
  margin: 0%;
}

body {
  display: flex;
  flex-direction: column;
  background-color:white;
  width: 100vw;
  height: 100vh;
}
.navbar {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}
.navbar a {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
  color: black;
  text-decoration: none;
  font-family: monospace;
  height: 20px;
}
.navbar a:hover {
  color: lightgrey;
}
.navbar button:hover{
  color: lightgray;
}
.container {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
.item {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  flex: 0 25%;
  height: 500px;
  margin-bottom: 5%;
  margin-right: 20px;
  margin-left: 10px;
  justify-content: center;
  padding: 10px;
  align-items: center;
  width: 29%;

}
.item p{
  margin: 0%;
}
.dropbutton {
  color: black;
  background: none;
  padding: 15px;
  cursor: pointer;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content p {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f1
}
.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}
button {
  font-family: monospace;
}
h2 {
  display: flex;
  justify-content: center;
  color:black;
}
p {
  order: 1;
  margin-top: 5%;
  font-size: 20px;
}
.p-prices {
  font-size: 15px;
  margin: 5px;
}
.item-1{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 30px;
  height: 600px;
  background-color:transparent;
  width: 45%;
  margin-left: 4%;
  margin-right: 1%;
  margin-top: 15px;
  text-align: center;
}

.item-1 a {
  outline: auto;
  text-decoration: none;
  padding: 7px;
  font-family: monospace;
}

.item-1 p {
  display: flex;
  flex-direction: row;
  font-family: monospace;
  z-index: 1;
}

.item-1 img {
  width: 100%;
  display: flex;
  justify-content: center;
}
.item-2{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 30px;
  height: 49%;
  background-color: lightpink;
  align-items: flex-start;
  width: 100%;
}

.item-2 p {
  display: flex;
  flex-direction: row;
  font-family: monospace;
  z-index: 1;
  color: white;
  position: absolute;
  margin-left: 10px;
}
.item-2 a {
  outline: auto;
  text-decoration: none;
  padding: 7px;
  font-family: monospace;
  color: white;
  margin: 5px;
}
.item-2 a:hover{
  background-color:lightgray;
 }
.item-2 img {
  width: 100%;
  display: flex;
  justify-content: center;
}

.item-3{
  display: flex;
  border-radius: 30px;
  margin-top: 1%;
  height: 49%;
  background-color: lightpink;
  align-items: flex-end;
  width: 100%;
  overflow: hidden;
}
.item-3 p {
  display: flex;
  flex-direction: row;
  font-family: monospace;
  z-index: 1;
  color: white;
  /*Placerar texten framför bilden*/
  position: absolute;
  margin-left: 10px;
}
.item-3 a {
  outline: auto;
  text-decoration: none;
  padding: 7px;
  font-family: monospace;
  color: white;
  margin: 5px;
}
.item-3 a:hover{
  background-color:lightgray;
 }
.item-3 img {
  width: 100%;
  display: flex;
  justify-content: center;
}
/*Skapar två olika collumner*/
.item-group {
  display: flex;
  flex-direction: column;
  margin-left: 1%;
  margin-right: 4%;
  margin-top: 15px;
  border-radius: 30px;
  height: 600px;
  width: 45%;
  
}
/* Annan layout på produkt-sidorna*/
.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product-img {
  overflow: hidden;
  height: 400px;
  margin-bottom: 15px;
}

.logo {
  height: 50px;
}

.slideshow {
  width: 100%;
  height: 100px;
}

.slideshow img {
  width: 100%;
  height: 800px;
}
.about-bouqet{
  width: 500px;
  
}
.footer {
  margin-top: 1%;
  width: 100%;
  height: 50px;
  background-color: rgb(0, 55, 79);
  color: white;
  text-align: center;
}

.footer p {
  /*Den ska inte ha margin jämfört med de andra p som har margin 5% */
  margin: 0%;
}
.footer a {
  margin: 0%;
}

.about-text {
  display: flex;
  flex-direction: column;
}